name: hakologue
description: "段ボールにQRコードを貼って中身を管理。「あれどこ？」をゼロにする引っ越しアプリ"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.6.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.6.1
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  qr_flutter: ^4.1.0
  mobile_scanner: ^6.0.2
  image_picker: ^1.1.2
  path_provider: ^2.1.5
  uuid: ^4.5.1
  share_plus: ^10.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
